<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='mainPage.css')}}">
</head>

<body>
    <div class="container">
        <h2 class="section-title padd-15 " style="margin-top: 10px;">Generated Questions</h2>
        <div class="row">
            <div class="answer-box padd-15">
                <div class="rounded" id="mcq">
                    

                    {% for mcq in blanks.split("## MULTIPLE_CHOICE") %}
                        {% if 'A)' in mcq and 'B)' and 'C)' and 'D)'in mcq and 'Correct Answer:' in mcq %}
                            <div class="fill-in-blanks">
                                <div class="question">{{ mcq.split('A)')[0].strip() }}</div>
                                <div class="options">
                                    <div class="option">A) {{ mcq.split('A)')[1].split('B)')[0].strip() }}</div>
                                    <div class="option">B) {{ mcq.split('B)')[1].split('C)')[0].strip() }}</div>
                                    <div class="option">C) {{ mcq.split('C)')[1].split('D)')[0].strip() }}</div>
                                    <div class="option">D) {{ mcq.split('D)')[1].split('Correct Answer:')[0].strip() }}</div>
                                </div>
                                <div class="correct-answer">
                                    Correct Answer: {{ mcq.split('Correct Answer:')[1].strip() }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <a href="/download/{{ txt_filename }}" class="btn btn-default">Download as TXT</a>
                    <a href="/dowload/{{ pdf_filename }}" class="btn btn-default">Download as PDF</a>
                </div>
            </div>
        </div>
    </div>

    <!--Js-->
    <script src="{{url_for('static', filename='mainPage.js')}}"></script>
</body>

</html>